@import url('https://fonts.googleapis.com/css2?family=Oooh+Baby&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quintessential&display=swap');

body {
    background-color: #ffebf6;
    font-family: 'Quintessential';
    color: #a37622;
}

nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px;
    padding-bottom: 20px;
    border-bottom: solid 1.5px #7a0551;
}

nav > button {
    background-color: transparent;
    border: none;
    font-family: "Oooh Baby";
    font-weight: bold;
    font-size: 30px;
    color: #ba2b7a;
}

nav > button:hover {
    text-decoration: underline 2px;
}

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    gap: 50px;
}

.home > div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: #deadc5;
    width: 60vw;
    padding: 50px;
}

.home > div > div {
    width: 40vw;
    font-size: 30px;
    color: #a37622;
    text-align: center;
}

.menu {
    display: flex;
    flex-direction: column;
    padding: 20px;
    white-space: pre-wrap;
    justify-content: center;
    align-items: center;
}

.menu > div:first-child {
    text-align: center;
    font-size: 30px;
}

.menu img {
    width: 15vw;
}

.images {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.menu > div {
    width: calc(30vw + 20px);
    font-size: 20px;
}

.about {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 30px;
}

.about > div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 80vw;
}

.about > div > div {
    width: 25vw;
}